*.mem
*.cpu
*.test
*.log
*.out
*.pprof
.bin
/.cache
/bin
GPATH
GRTAGS
GTAGS
__debug_bin
.circleci/.env
junit-report.xml
./pkg-build/pkg-build
.vscode
.idea
**/.localenv/.data/
ls_tmp
**/.DS_Store
.DS_Store